{#% extends "::base8.html.twig" %#}
<style>
body{
    font-family: Arial;
    font-size: 12px;
}
table{
    
    
    width: 260px;
}
p{
    margin: 0;
}
.centrado{
    font-size: 16px;
    text-align: center;
}
.espacio{
    font-size: 5px;
}
.dospixeles{
    font-size: 2.1px;
}
.etiqueta:nth-child(even){
        float:rigth;
}

</style>
<body>
    {% for hojaderemision in hojaderemision %}
    <table>
        <tr>
            <td><p class="espacio"> </p></td>
        </tr>        
        <tr>
            <td><p class="espacio"> </p></td>
        </tr>        
        <tr>
            <td><p style="font-size:14px"><strong>EMBAJADA DEL PERÚ EN JAPÓN</strong></p></td>
        </tr>
        <tr>
            <td><p class="espacio"> </p></td>
        </tr>
        <tr>
            <td><p class="espacio"> </p></td>
        </tr>
        <tr>
            <td class="centrado"><p>H.R. 5-18-A/{{ hojaderemision.numero }} ({{ hojaderemision.destino }})</p>
            </td>
            <br>
       </tr>

       <tr>
            <td><p font-size="13px" style="color:white">Ministerio de Relaciones Exteriores</p>
            </td>
       </tr>       
       <tr>
            <td><p>Ministerio de Relaciones Exteriores</p>
            </td>
       </tr>
       <tr>
            <td>Jr. Lampa 353 Lima1 - Perú
            </td>
        </tr>
        <tr>
            <td><p class="espacio"> </p></td>
        </tr>
        <tr>
            <td><p class="espacio"> </p></td>
        </tr>
    </table>
    {% endfor %}
</body>
