    <div class="container-fluid" id="content">    
        <div id="left">
            <form action="search-results.html" method="GET" class='search-form'>
                <div class="search-pane">
                    <input type="text" name="search" placeholder="Search here...">
                    <button type="submit"><i class="icon-search"></i></button>
                </div>
            </form>
            <div class="subnav">
                <div class="subnav-title">
                    <a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>28 de Julio</span></a>
                </div>
                <ul class="subnav-menu">
                    <li>
                        <a href="{{ path('contactos_prueba') }}">Estadisticas</a>
                    </li>
                    <li>
                        <a href="{{ path('contactos_invitados') }}">Invitados</a>
                    </li>
                    <li>
                        <a href="{{ path('contactos_impresas') }}">Invitaciones Impresas</a>
                    </li>
                    <li>
                        <a href="{{ path('contactos_enviadas') }}">Invitaciones Enviadas</a>
                    </li>
                </ul>
            </div>
            <div class="subnav">
                <div class="subnav-title">
                    <a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Respuestas</span></a>
                </div>
                <ul class="subnav-menu">
                    <li>
                        <a href="{{ path('contactos_contestadas') }}">Respondieron SI</a>
                    </li>
                    <li>
                        <a href="{{ path('contactos_contestadasno') }}">Respondieron NO</a>
                    </li>
                    <li>
                        <a href="{{ path('contactos_sincontestar') }}">NO RESPONDIERON</a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                </ul>
            </div>

        </div>
        <div id="main">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="pull-left">
                        <h1></h1>
                    </div>
                    <div class="pull-right">
                        <ul class="stats">
                            <li class='lightred'>
                                <i class="icon-calendar"></i>
                                <div class="details">
                                    <span class="big">{{ ('now'| date('d/m/Y')) }}</span>
                                    <span></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>                    

            </div>
        </div>