{% extends "::base8.html.twig" %}

{% block body %}

<h3>Crear Ficha </h3>

<form action="{{ path('personal_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('personal') }}">
            Back to the list
        </a>
    </li>
</ul>
    <p>
        cecece
    </p>
{% endblock body %}
{% block javascript %}

{% endblock javascript%}
